html {
	font-size: 20px;
}

body {
	display: grid;
	grid-gap: 10px;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	background-color: orange;
}

nav {
	display:none;
}

@media (min-width: 600px) {
	html {
		font-size: 30px;
	}
	nav {
		display: block;
	}
	body {
		grid-template-columns: 10rem auto;
		background-color: aqua;
	}
	header {
		grid-column: span 2;
	}
	nav {
		grid-row: span 2;
	}
}

@media (min-width: 900px) {
	html {
		font-size: 50px;
	}
	body {
		background-color: yellow;
	}
}

h1 {
	font-size: 2rem;
	line-height: 2.2rem;
}

p {
	font-size: 1rem;
}

header,nav, main, footer {
	padding: 40px;
	margin: 0px;
	border: 0;
	background-color: white;
}


